//body{
   // background-image:linear-gradient( to right ,rgba(255,0,0,0), rgb(0, 183, 255));
    .row{
        height: 100px;
        display: flex;
        &--col-1{
            height: 50%;
            width: 33.33%;
            background-color: green;
        }
        &--col-2{
            height: 50%;
            width:33.33%;
            background-color: white;
        }
        &--col-3{
            height: 50%;
            width:33.33%;
            background-color: red;
        }
    } 
//}
   
@media only screen and ( max-width :768px) {
    .row{
        &--col-1{
            height: 50%;
            width:33.33%;
            background-color: red;
        }
        &--col-3{
            height: 50%;
            width: 33.33%;
            background-color: green;
        }
    }
}
