.chu-o-giua{
    text-align: center;
}
body{
    background:lightblue;
}
.mau-do{
    color:red;
    font-size:30px;

}
a {
    text-decoration:none;
    font-style: initial;
    color:black;
}
ul{
    list-style-type: inherit;
    font-size:15px;
}